.button-area {
    text-transform: capitalize !important;
    margin-left: 10px !important;
    
}

.button-area:hover{
    color: black;
}

.icon-area {
    text-align: center;
}

.icon-space {
    font-size: 2rem !important;
    margin: 10px;
    color:grey;

}

.icon-space:hover{
    color: #62E560;
}