.main-container {
    /* border: 3px solid green; */
    height: 100%;
    padding:3rem;
    display: block;
    margin: 70px auto;
    /* width: 50%; */
    border-radius: 30px;
    box-shadow: 0.25px 0.2px 3px #000;
}